$uni-color-primary: #1cbbb4;
$uni-color-success: #39b54a;
$uni-color-warning: #f37b1d;
$uni-color-error: #e54d42;

$uni-text-color: #333;
$uni-text-color-grey: #999;
$uni-bg-color: #f8f8f8;
$uni-border-color: #f0f0f0;
